<% extend('layout') %>

<div class="writepost">
    <h1>Create a new post</h1>
    <form action="/create-post" method="POST">
        <textarea rows="8" cols="30" class="textbox" name="text" placeholder="Enter text" type="text"></textarea>
        <br>
        <button class="btn">Post</button>
    </form>
</div>