<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <title><%= title %></title>
</head>
<body>
    <div id="header">
        <a href="/" class="home">Members Only</a>
        <div id="nav">
            <% if (user) {%>
                <div class="greeting">Hello <%= user.first_name_cap %>!</div>
                <a href="/" class="links">Home</a>
                <a href="/sign-out" class="links">Log out</a>
            <% } else { %>
                <a href="/" class="links">Home</a>
                <a href="/sign-in" class="links">Sign in</a>
                <a href="/register" class="links">Register</a>
            <%}%>
        </div>
    </div>


    <div id="content">
        <%- content %>
    </div>
    
</body>
</html>